<html>

<head>
    <title>Students API</title>
    <script src="angular-1.6.10/angular.js"></script>
    <link href="bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="student-api.js"></script>
</head>

<body ng-app="studentAPI">
    <div class="container" align="center" ng-controller="studentAPICtrl">

        <div ng-if="isLoading">
            <img ng-src="{{spinner}}" width="20" height="20">Loading...
        </div>
        <br>

        <div ng-if="!isLoading">

        <button ng-click="displayForm()" ng-if="!isFormDisplay && !isError" ng-disabled="isDisabled" class="btn btn-secondary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span><strong>Add New Student</strong></span>
        </button>
        <div class="alert alert-danger" ng-if="isError">
            <br>
            <br>
            <strong>Error!</strong> {{error}}
        </div>

        <div ng-if="!isFormDisplay && !isError">
            <br>
            <table border="5" class="table table-hover table-responsive-md">
                <thead class="mdb-color lighten-4">
                    <tr class="active">
                        <th>Roll No</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>EMail</th>
                        <th>Date</th>
                        <th>Gender</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tr ng-repeat="student in students" class="success active">
                    <td>{{student.rollNo}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.date | date}}</td>
                    <td>{{student.isMale ? 'Male' : 'Female'}}</td>
                    <td>
                        <button ng-click="deleteStudent(student.rollNo)" ng-disabled="isProcessing" class="btn btn-primary">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button ng-click="getStudent(student.rollNo)" ng-disabled="isProcessing" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <fieldset ng-if="isFormDisplay && !isError">
            <legend>Fill the Details</legend>

            <form align="left">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="rollNo">Roll No:</label>
                  <div class="col-sm-10">
                    <input type="number" name="rollNo" class="form-control" id="rollNo" placeholder="Enter Roll No" ng-disabled="!isSubmit" ng-model="student.rollNo">
                    <span ng-if="isRollNoError">Invalid Roll No</span><br>
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" ng-model="student.name">
                        <span ng-if="isNameError">Invalid Name</span><br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="age">Age:</label>
                    <div class="col-sm-10">
                        <input type="number" name="age" class="form-control" id="age" placeholder="Enter your age" ng-model="student.age">
                        <span ng-if="isAgeError">Invalid Age</span><br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">EMail:</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter EMail" ng-model="student.email">
                        <span ng-if="isEMailError">Invalid EMail</span><br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="date">Date Of Birth:</label>
                    <div class="col-sm-10">
                        <input type="date" name="date" class="form-control" id="date" ng-model="student.date">
                        <span ng-if="isDateError">Invalid Date</span><br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gender">Gender:</label>
                    <span align="left">
                        <label class="radio-inline">
                            <input type="radio" name="gender"  id="gender" ng-model="student.isMale" ng-value="true">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender"  id="gender" ng-model="student.isMale" ng-value="false">Female
                        </label>
                        <span ng-if="isGenderError">Invalid Gender</span>
                    </span>
                </div>
                <div class="form-group" align="center"> 
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-if="isSubmit" ng-click="createStudent(student)" ng-disabled="isProcessing" class="btn btn-success">
                            <span ng-if="isProcessing">
                                <img ng-src="{{spinner}}" width="15" height="15">
                                Submitting
                            </span>
                            <span ng-if="!isProcessing">Submit</span>
                        </button>
            
                        <button ng-if="!isSubmit" ng-click="updateStudent(student)" ng-disabled="isProcessing" class="btn btn-success">
                            <span ng-if="isProcessing">
                                <img ng-src="{{spinner}}" width="15" height="15">
                                Updating
                            </span>
                            <span ng-if="!isProcessing">Update</span>
                        </button>
                    </div>
                </div>
              </form>
        </fieldset>

        </div>

    </div>

</body>

</html>