<fieldset>
    <legend>Fill the Details</legend>

    <form align="left" class="form-group" name='studentForm'>
        <div class="input-group">
            <span class="input-group-addon" for="rollNo">Roll No:</span>
            <input type="number" name="rollNo" class="form-control" id="rollNo" placeholder="Enter Roll No" ng-model="student.rollNo" required>
        </div>
        <div ng-if="studentForm.rollNo.$touched && studentForm.rollNo.$invalid">Invalid Roll No</div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" for="name">Name:</span>
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" ng-model="student.name" required>
        </div>
        <div ng-if="studentForm.name.$touched && studentForm.name.$invalid">Invalid Name</div>
        <br>
        <div class="input-group">
            <span class=" input-group-addon" for="age">Age:</span>
            <input type="number" name="age" class="form-control" id="age" placeholder="Enter your age" ng-model="student.age" required>
        </div>
        <div ng-if="studentForm.age.$touched && studentForm.age.$invalid">Invalid Age</div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" for="email">EMail:</span>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter EMail" ng-model="student.email" required>
        </div>
        <div ng-if="studentForm.email.$touched && studentForm.email.$invalid">Invalid Email</div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" for="date">Date Of Birth:</span>
            <input type="date" name="date" class="form-control" id="date" ng-model="student.date" required>
        </div>
        <div ng-if="studentForm.date.$touched && studentForm.date.$invalid">Invalid Date of birth</div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="gender">Gender:</label>
            <span align="left">
                <label class="radio-inline">
                    <input type="radio" name="gender" id="gender" ng-model="student.isMale" ng-value="true" required>Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="gender" ng-model="student.isMale" ng-value="false" required>Female
                </label>
            </span>
        </div>
        <div ng-if="studentForm.gender.$touched && studentForm.gender.$invalid">Invalid Gender</div>
        <br>
        <div class="form-group" align="center">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="createStudent(student)" ng-disabled="isProcessing || studentForm.$untouched || studentForm.$invalid" class="btn btn-success">
                    <span ng-if="isProcessing">
                        <img ng-src="{{spinner}}" width="15" height="15"> Submitting
                    </span>
                    <span ng-if="!isProcessing">Submit</span>
                </button>
            </div>
        </div>
    </form>
</fieldset>